<div class="container mt-3">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col col-12">
        <div class="card-product m-5">
          <div class="card-product-infos">
            <div class="pink">
              <h2 class="pt-4 mt-2">Leave a Review:</h2>
            </div>
              <%= simple_form_for [@game, @review] do |f| %>
              <%= f.label "Stars", class: "filter-font" %>
              <%= f.select :stars, (1..5).to_a, selected: params[:stars] || 1, class: "form-control" %>
              <%= f.input :content, as: :text, html5: true %>
              <%= f.button :submit, label: "Add a Review", class: "btn btn-primary confirm-btn" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
