<div id="banner" >
  <h1>Game-Time</h1>
  <p>This is just a test playground app</p>
</div>

<div class= 'container py-4'>
  <h2 class="small-title mt-4" style="color: white">Pick a Game:</h2>
  <div class='row line-break'>
    <div class='row'>
      <div class='col col-sm-12'>
        <div class="d-flex flex-wrap">
          <% @games.each do |game| %>
          <div class='col col-sm-3 p-2'>
            <div class="card-product home-card mt-4 d-flex flex-column">
              <% if game.name == 'English Word' %>
              <img src= "https://media.istockphoto.com/photos/alphabet-magnets-picture-id1326538470?b=1&k=20&m=1326538470&s=170667a&w=0&h=hsji3bk1zwtBsVpX7-Io6ZYQgXsZ4Oat1ylp04puWRs=" />
              <% elsif game.name == 'Racing' %>
              <img src="https://i.pinimg.com/236x/6a/63/43/6a6343eac9c9148ff2cad0c59590368c--gambar-automobile.jpg" />
              <% elsif game.name == 'Guess the Capital City' %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Winkel_triple_projection_SW.jpg" />
              <% elsif game.name == 'Country Flag Game' %>
              <img src="https://i.etsystatic.com/18653873/r/il/fab97a/2832214277/il_fullxfull.2832214277_cle3.jpg" />
              <% end %>
              <div class="card-product-infos d-flex justify-contents-between">
                <div class="d-flex flex-column align-items-between m-1">
                  <h2><%= link_to game.name, game_path(game) %></h2>
                  <p class="mt-0"><%= game.description  %></p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# <div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="col col-6">
        <h1>Games</h1>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
             @games.each do |game|
              <tr>
                <td><%= game.name </td>
                <td><%= game.description </td>
                <%# <td><%= link_to 'Play', game %>
                <%# <td><%= link_to 'Edit', edit_game_path(game) </td> %>
                <%# <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } </td>
              </tr>
            <% end
          </tbody>
        </table>

        <br>
      </div>
    </div>
  </div>
</div> %>
<%# <%= link_to 'New Game', new_game_path %>
