<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="col col-12">
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%# <%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>
<br>
<br>
<% if @game.name == 'English Word' %>
  <h4>New game:</h4>
  <h4>
  <% @letters.each do |letter| %>
  <span><strong> <%= letter %> </strong></span>
  <% end %>
  </h4>
  <div>
  <form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <label for="answer">Enter a valid English Word out of the given letters above:</label>
  <p><input type="text" id="answer" name="answer"></p>
  <input type="submit" class='btn btn-primary'value="Play">
  </form>
  </div>
<% end %>
<% if @game.name == 'Racing' %>
  <a href="javascript:window.location.reload(true)" class='btn btn-primary'>Start</a>
  <h1 class="text-center">Racing 🏎</h1>
    <h3 class="text-center">Press `Q` for player one</h3>
    <h3 class="text-center">Press `P` for player two</h3>
    <hr>
    <!-- You race HTML code here -->
    <table class="racer-table">
      <tr id="player1-race">
        <td class="square active"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square finish"></td>
      </tr>
      <tr id="player2-race">
        <td class="square active"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square finish"></td>
      </tr>
    </table>
    <hr>
<% end %>
      </div>
    </div>
  </div>
</div>
