<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="col col-6">
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%# <%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>
<br>
<br>
<% if @game.name == 'English Word' %>
  <h3>New game</h3>

  <% @letters.each do |letter| %>
  <span><strong> <%= letter %> </strong></span>
  <% end %>

  <div>
  <form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <label for="answer">Enter a valid English Word out of the given letters above:</label>
  <p><input type="text" id="answer" name="answer"></p>
  <input type="submit" class='btn btn-primary'value="Play">
  </form>
  </div>
<% end %>
      </div>
    </div>
  </div>
</div>
