<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="col col-12">
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%# <%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>
<br>
<br>
<% if @game.name == 'English Word' %>
  <h4>New game: <a href="javascript:window.location.reload(true)" ><i class="fa-solid fa-rotate"></i></a></h4>
  <h4>
  <% @letters.each do |letter| %>
  <span><strong> <%= letter %> </strong></span>
  <% end %>
  </h4>
  <div>
  <form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <label for="answer">Enter a valid English Word out of the given letters above:</label>
  <p><input type="text" id="answer" name="answer"></p>
  <input type="submit" class='btn btn-warning'value="Play">
  </form>
  </div>
<% end %>

<% if @game.name == 'Racing' %>
  <h1 class="text-center">Racing 🏎   <a href="javascript:window.location.reload(true)" class='btn btn-warning'>Start</a>
</h1>
    <h3 class="text-center">Press <i class="fa-brands fa-quora"></i> for player one</h3>
    <h3 class="text-center">Press <i class="fa-solid fa-p"></i> for player two</h3>
    <hr>
    <!-- You race HTML code here -->
    <table class="racer-table">
      <tr id="player1-race">
        <td class="square active"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square finish"></td>
      </tr>
      <tr id="player2-race">
        <td class="square active"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square"></td>
        <td class="square finish"></td>
      </tr>
    </table>
    <hr>
<% end %>

<% if @game.name == 'Guess the Capital City' %>
  <h4>New game: <a href="javascript:window.location.reload(true)" ><i class="fa-solid fa-rotate"></i></a></h4>
  <h4>
  <strong><%= @country["name"] %></strong>
  </h4>
  <div>
  <form action="/capital" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :capital, @capital %>
  <%= hidden_field_tag :countname, @countname %>
  <label for="cap">Enter the capital city of the given country:</label>
  <p><input type="text" id="cap" name="cap"></p>
  <input type="submit" class='btn btn-warning'value="Play">
  </form>
  </div>
<% end %>

<% if @game.name == 'Country Flag Game' %>
  <h4>New game: <a href="javascript:window.location.reload(true)" ><i class="fa-solid fa-rotate"></i></a></h4>
  <h4>
  <img src="<%= @countryflag["flag"] %>" alt="Flag">
  </h4>
  <div>
  <form action="/flag" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :flagimg, @flagimg %>
  <%= hidden_field_tag :flagname, @flagname %>
  <label for="flag">Enter the country of the given flag:</label>
  <p><input type="text" id="flag" name="flag"></p>
  <input type="submit" class='btn btn-warning'value="Play">
  </form>
  </div>
<% end %>

      </div>
    </div>
  </div>
</div>
