<!DOCTYPE html>
<html>
  <head>
    <title>KimGametime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/ea809bf82d.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
<div id="page-container">
  <div id="content-wrap" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/cosmic-background-with-colorful-orange-blue-laser-lights-perfect-digital-wallpaper_181624-21283.jpg?w=2000);">
     <!-- all other page content -->
    <%= yield %>
  </div>
  <div id="footer">
   <div class="icon mt-2">
      <a href="https://github.com/kimcoquilla">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a href="https://www.instagram.com/kimcoquilla/">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://www.facebook.com/kim.coquilla/">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
    </div>
    <p>
      This website was coded with ❤️ by Kim Coquilla.
    </p>
  </div>
 </div>
  </body>
</html>
